@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Baronesa do Gravataí, 753<br />
    Cidade Baixa - Porto Alegre<br />
    <abbr title="Phone">P:</abbr>
    51 99629-7878
</address>

<address>
    <strong>Development:</strong>   <a href="mailto:roger.desenvolvedor@gmail.com">roger.desenvolvedor@gmail.com</a><br />
</address>